@import "tailwindcss";

@theme {
  --text-2xs: 0.625rem; /* 10px */
  --text-3xs: 0.5rem; /* 8px */
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #fcfcfc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vinyl-pattern {
  background-image: repeating-radial-gradient(
    circle,
    #1a1a1a 0px,
    #1a1a1a 1px,
    #000000 3px
  );
}

.vinyl-part {
  @apply absolute inset-1/2 -translate-1/2 bg-black rounded-full;
}
